In [4]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [5]:
# Read the CSV file from the Resources folder into a Pandas DataFrame

file_path = Path("Resources/lending_data.csv")
df = pd.read_csv(file_path)

# Review the DataFrame

df.sample(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
39122,9100.0,6.979,46300,0.352052,3,0,16300,0
22673,8700.0,6.826,44800,0.330357,3,0,14800,0
41609,8900.0,6.913,45700,0.343545,3,0,15700,0
27630,10200.0,7.456,50800,0.409449,4,1,20800,0
42029,9800.0,7.280,49100,0.389002,4,0,19100,0
24987,8800.0,6.854,45100,0.334812,3,0,15100,0
38649,10200.0,7.471,50900,0.410609,4,1,20900,0
26863,11200.0,7.890,54900,0.453552,5,1,24900,0
13558,10100.0,7.434,50600,0.407115,4,1,20600,0
65787,9900.0,7.339,49700,0.396378,4,0,19700,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [31]:
# Separate the data into labels and features

y = df["loan_status"]
x = df.drop("loan_status",axis = 1)

In [32]:
# Review the y variable Series

y.sample(10)

26733    0
3278     0
26422    0
38290    0
40551    0
8030     0
11502    0
45808    0
15503    0
35725    0
Name: loan_status, dtype: int64

In [24]:
# Review the X variable DataFrame

x.sample(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
35021,10000.0,7.384,50100,0.401198,4,1,20100
54498,11100.0,7.849,54500,0.449541,5,1,24500
21372,8000.0,6.522,42000,0.285714,2,0,12000
6261,8200.0,6.623,42900,0.300699,2,0,12900
70471,8500.0,6.734,44000,0.318182,3,0,14000
54798,10100.0,7.431,50500,0.405941,4,1,20500
7353,12300.0,8.342,59100,0.492386,6,1,29100
12943,10100.0,7.401,50200,0.402390,4,1,20200
32253,9900.0,7.330,49600,0.395161,4,0,19600
9881,7800.0,6.445,41200,0.271845,2,0,11200

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [54]:
# Check the balance of our target values

y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [33]:
# Split the data using train_test_split
# Assign a random_state of 1 to the function

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [35]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model

LRM = LogisticRegression(random_state = 1)

# Fit the model using training data

LRM_fit = LRM.fit(x_train, y_train)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [36]:
# Make a prediction using the testing data

prediction = LRM_fit.predict(x_train)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [38]:
# Print the balanced_accuracy score of the model

print(balanced_accuracy_score(y_train, prediction))

0.9494259906569136

In [39]:
# Generate a confusion matrix for the model

print(confusion_matrix(y_train, prediction))
# YOUR CODE HERE!

[[55994   277]
 [  181  1700]]

In [40]:
# Print the classification report for the model

print(classification_report(y_train,prediction))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56271
           1       0.86      0.90      0.88      1881

    accuracy                           0.99     58152
   macro avg       0.93      0.95      0.94     58152
weighted avg       0.99      0.99      0.99     58152

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:**
Please see report.md

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [48]:
# Instantiate the random oversampler model
# Assign a random_state parameter of 1 to the model

ROS = RandomOverSampler(random_state = 1)

# Fit the original training data to the random_oversampler model

x_oversample, y_oversample = ROS.fit_resample(x_train, y_train)

In [60]:
# Count the distinct values of the resampled labels data

y_oversample.value_counts()

0    56271
1    56271
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [62]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model

LRM_2 = LogisticRegression(random_state = 1)

# Fit the model using the resampled training data

LRM_2_fit = LRM_2.fit(x_oversample, y_oversample)# YOUR CODE HERE!

# Make a prediction using the testing data

prediction_2 = LRM_2_fit.predict(x_oversample)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [63]:
# Print the balanced_accuracy score of the model 

print(balanced_accuracy_score(y_oversample, prediction_2))

0.9947308560359689

In [64]:
# Generate a confusion matrix for the model

print(confusion_matrix(y_oversample, prediction_2))

[[55964   307]
 [  286 55985]]

In [65]:
# Print the classification report for the model

print(classification_report(y_oversample, prediction_2))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99     56271
           1       0.99      0.99      0.99     56271

    accuracy                           0.99    112542
   macro avg       0.99      0.99      0.99    112542
weighted avg       0.99      0.99      0.99    112542

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** Please see ReadMe.md